@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body  {
    font-family: 'Poppins', sans-serif;
}

.footer-distributed {
    width: 100%;
    border-top: 1px solid black;
    padding: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;